<!-- contact-view.html -->
<div class='wrapper'>
	<div class='contact-container'>
		<div class='card-top'>
			<h2>{{contact.lastName}}, {{contact.firstName}}</h2>
			
			<img ng-click='deleteContact()' src='../imgs/delete.png' />
			<a href='#/edit-contact/{{contact._id}}'>Edit</a>
		</div>
		<div class='submit-form'>
			<div class='form-group'>
				<label>First Name:</label>
				<span>{{contact.firstName}}</span>
			</div>
			<div class='form-group'>
				<label>Last Name:</label>
				<span>{{contact.lastName}}</span>
			</div>
			<div class='form-group'>
				<label>Email:</label>
				<span>{{contact.email}}</span>
			</div>
			<div class='form-group'>
				<label>Company:</label>
				<span>{{contact.company}}</span>
			</div>
		</div>
	</div>

</div>