<!-- edit-contact-view.html -->

<div class='wrapper'>
	<div class='contact-container'>
		<div class='card-top'>
			<h2>{{contact.lastName}}, {{contact.firstName}}</h2>
		</div>
		<form name='userForm' class='submit-form' novalidate>
			<div class="form-group" ng-class="{ 'has-error' : userForm.firstName.$invalid && !userForm.firstName.$pristine }">
				<label>First Name:</label>
				<input ng-model='contact.firstName' type='text' name='firstName' required>
				<p ng-show="userForm.firstName.$invalid && !userForm.firstName.$pristine" class="help-block">First name is required.</p>
			</div>

			<div class="form-group" ng-class="{ 'has-error' : userForm.lastName.$invalid && !userForm.lastName.$pristine }">
				<label>Last Name:</label>
				<input ng-model='contact.lastName' type='text' name='lastName' required>
				<p ng-show="userForm.lastName.$invalid && !userForm.lastName.$pristine" class="help-block">Last name is required.</p>
			</div>

			<div class="form-group" ng-class="{ 'has-error' : userForm.email.$invalid && !userForm.email.$pristine }">
				<label>Email:</label>
				<input ng-model='contact.email' type='email' name='email' required>
				<p ng-show="userForm.email.$invalid && !userForm.email.$pristine" class="help-block">Please enter a valid email.</p>

			</div>


			<div class="form-group" ng-class="{ 'has-error' : userForm.company.$invalid && !userForm.company.$pristine }">
				<label>Company:</label>
				<input ng-model='contact.company' type='text' name='company' required>
				<p ng-show="userForm.company.$invalid && !userForm.company.$pristine" class="help-block">Company is required.</p>
			</div>

			<input ng-disabled="userForm.$invalid" type='submit' value='Update' ng-click='updateContact()'>
		</form>
	</div>

</div>