<!-- home-view.html -->

<div class='wrapper'>
	<div class='home-container'>
		<form>
			<input type='text'>
			<input ng-click='searchContacts()' type='submit' value='Search!'>
		</form>
		<a href='#/add-contact'>Add Contact</a>
		<br />

		<label>Page:</label>
		<span ng-repeat='page in pages' ng-click='pageClick(page.pageid, $event)'>{{page.pagenum}}</span>

		<ul>
			<li ng-click='contactClick(contact)' ng-repeat='contact in contacts'>{{contact.lastName}}, {{contact.firstName}}</li>
		</ul>

	</div>
</div>