 body {
	font-size: 16px;
	font-family: 'verdana';
	margin:0;

}

h1 {
	margin:0;
}


.wrapper {
	max-width:690px;
	min-width:340px;
	margin-left: auto;
	margin-right: auto;
}

.header-container {
	width:100%;
	height:80px;
	background-color: rgba(0, 41, 255, 0.9);
	float: left;


}

.header-container h1 {
	padding:20px 0 0 0;
	text-align: center;
}

.header-container a {
	color: white;
	text-decoration: none;
}

.form-group {
	float: left;
	width: 100%;
	margin:10px 0;

}

.submit-form {
	max-width:314px;
	margin-left: auto;
	margin-right: auto;
}

.submit-form label {
	float: left;
	width: 100px;
	color: #AAAAAA;
	padding: 5px 0;
	/*font-size: 15px;*/
	/*margin-top:15px;*/
}

.submit-form input, .form-group span{
	width: 65%;
	float:right;
	padding: 5px;
	max-width: 200px;
}

.submit-form input[type=submit] {
	margin-top: 10px;
	padding:8px 5px;
	color: red;
	float: right;
	width: 50%;
}

.help-block {
	float: left;
	width: 100%;
	text-align: right;
	font-style:italic;
	color: rgb(255, 23, 23);
	padding:0;
	margin: 0;
	font-size: 14px;
}

.contact-container {
	width:100%;
	margin-top: 40px;
	float: left;
	border: 1px solid #CCCCCC;
}

.contact-container a {
	color:blue;
	float:right;
	padding:16px 20px;
}

.contact-container a:hover {
	background-color: #C5EAFF;
}

.contact-container img {
	width:30px;
	float:right;
	padding:10px;
}

.contact-container img:hover {
	background-color: #C5EAFF;
}

.contact-container h2 {
	float:left;
	font-size: 18px;
	margin-left: 20px

}

/*.contact-container p {
	padding:15px 20px 15px 40px;
	margin:0;
	float: left;
	width: 100%;
}*/

/*.contact-container label {
	width:100px;
	float:left;
}*/

.card-top {
	width:100%;
	float:left;
	background-color: #F2F8FF;
	border-bottom: 1px solid #AAAAAA;
}


.home-container {
	width:100%;
	margin-top: 40px;
	float: left;
}


.home-container input {
	width: 78%;
	padding: 5px 0;
}

.home-container input[type='submit'] {
	width:15%;
	margin-left: 5%;
}


.home-container ul {
	padding:0;
	float:left;
	width: 100%;
	margin: 0;

}

.home-container li {
	list-style: none;
	padding:15px;
	border-bottom: 1px solid #CCCCCC;
}

.home-container li:nth-child(odd) {
	background-color: rgb(241, 241, 241);
}

.home-container li:hover {
	background-color: #C5EAFF;

}

.home-container span {
	padding:0 10px;
	margin: 10px 15px;
	float: left;
	color: blue;
	border-bottom: 1px solid #CCCCCC;
}

.home-container span:hover {
	background-color: #C5EAFF; 
}

.home-container a {
	float: left;
	width: 100%;
	margin:20px 0;
}

.home-container label {
	float: left;
	margin:10px 0;
	color: #AAAAAA;
	font-size: 15px;
}

.active-page {
	color:#AAAAAA !important;
	background-color: #F5F5F5 !important;
}

input[type=submit]:disabled,
button:disabled {
    color:grey !important;
}